nav.navbar {
    background-color: #023859;
}

.img-logo{
    height: 7rem;
}

.nav-link {
    position: relative;
}


a.nav-link {
    font-size: 22px;
}

div.container-fluid.nav-content {
    flex-wrap: nowrap;
}
.navbar-nav {
    flex-direction: row;
}

.nav-item {
    margin-right: 10px;
}

@media screen and (max-width: 767px) {
    nav.navbar.desktop {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .nav-link:hover {
        border-bottom: 1px solid #F28705;
    }
    .nav-link::after {
        content: '';
        opacity: 0;
        transition: all 0.3s;
        height: 2px;
        width: 100%;
        background-color: #F28705;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .nav-link:hover::after {
        opacity: 1;
    }
}