* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 15px;
}

body {
	background-color: #011526;
	color: white;
	/*display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	background-image: url("./halving\ bitcoin.jpg");
	background-size: cover;
	background-position: center;
	background-color: rgb(176, 174, 174);*/
}
.title {
	text-align: center;
	margin-top: 20px;
}
.top-section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}
.top-section img {
	max-width: 50%;
	height: auto;
}
.top-section .text-right {
	max-width: 50%;
	margin-left: 20px;
}
.pros-cons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 50px 0;
}
.pros, .cons {
	max-width: 40%;
}
.pros-cons img {
	max-width: 20%;
	height: auto;
	margin: 0 20px;
}
.dock-icons {
	display: flex;
	justify-content: center;
	margin: 50px 0;
}
.dock-icons img {
	max-width: 50px;
	height: auto;
	margin: 0 10px;
}

#trait_dessus
{
	border-top: 2px solid #ffffff;
	width : 1200px;
}

/* <-- Scroll Bar icons --> */

.glass {
	height: 2rem;
	padding: 0 1rem;
	background: rgb(255, 255, 255, 0.1);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	display: flex;
	justify-content: center;
	border-radius: 1rem;
	/*margin-bottom: 1rem;*/
}

.dock {
	--scale: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.dock img {
	height: calc(3rem * var(--scale));
	width: calc(3rem * var(--scale));
	position: relative;
	top: calc(3rem * var(--scale) - 3rem) / 2 * -1;
	transition: 250ms all ease-in-out;
}

.dock img.loading{
	animation: 1s loading ease-in infinite;
}

.dock img:hover{
	transform: translateY(-1rem);
}

.vr{
	height: 80%;
	width: 1px;
	background-color: #999;
}

@keyframes loading {
	0%,100%{
		transform: translateY(0px);
	}
	60%{
		transform: translateY(-30px);
	}
}